/*
***************************************
Component: {{titleCase name}}
Author: {{author}}
Description: {{description}}
***************************************
*/

export default () => (
  <div className="{{name}}">
    <h1>This is a {{name}} component!</h1>
  </div>
);
